<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ch.member.mapper.MemberMapper">



    <!-- 查询用户信息 -->
    <!--<select id="getUserById" resultType="">-->
    <!--    SELECT * FROM users WHERE id = #{userId}-->
    <!--</select>-->

    <!-- 其他CRUD操作示例 -->

    <!-- 插入用户 -->
    <insert id="insertUser">
        INSERT INTO users(username, password, email)
        VALUES (#{username}, #{password}, #{email})
    </insert>

    <!-- 更新用户信息 -->
    <update id="updateUser">
        UPDATE users
        SET username = #{username}, password = #{password}, email = #{email}
        WHERE id = #{id}
    </update>

    <!-- 删除用户 -->
    <delete id="deleteUser">
        DELETE FROM users WHERE id = #{id}
    </delete>

    <select id="getMember" resultType="java.lang.Integer">
        SELECT count(*) FROM member
    </select>

</mapper>